*
{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(169, 48, 74);
    background: linear-gradient(180deg, rgb(155, 25, 25) 0%, rgb(165, 19, 19) 50%, rgb(151, 22, 22) 100%);
}

.body-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.title-container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 100%;
}

.logo {
    width: 17vmin;
    height: auto;
    margin: 1.5rem;
}

.title h1{
    color: white;
    font-size: 5vmin;
    text-shadow: 5px 5px 5px rgb(98, 18, 18);
}

.title span {
    font-size: 4vmin;
}

.countdown-timer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100vw;
    height: 60vh;
    border-top: 2vh;
    border-bottom: 2vh;
    border-left: 0px;
    border-right: 0px;
    border-style: solid;
    color: white;
    text-shadow: 7px 7px 7px rgb(0, 10, 101);
    background-color: rgb(30, 41, 109);
    background: linear-gradient(180deg, rgb(3, 49, 148) 0%, rgb(19, 39, 106) 50%, rgb(0, 17, 99) 100%);
}

.countdown-timer div {
    margin: 3vw;
}

.countdown-timer p {
    font-size: 11vmin;
}

.countdown-timer span {
    font-size: 3vmin;
}

.bottom-container {
    height: 10vh;
    width: 100%;
    position: relative;
}

.bottom-container p {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 2vmin;
    font-weight: 100;
    color: rgb(255, 255, 255)
}

.bottom-container a {
    color: white;
}