*
{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(169, 48, 74);
    background: linear-gradient(180deg, rgb(155, 25, 25) 0%, rgb(165, 19, 19) 50%, rgb(151, 22, 22) 100%);
}

.body-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.title-container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.logo {
    width: 120px;
    height: auto;
    margin: 1.5rem;
}

.title h1{
    color: white;
    text-shadow: 5px 5px 5px rgb(98, 18, 18);
}

.countdown-timer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100vw;
    height: 60vh;
    border-top: 2vh;
    border-bottom: 2vh;
    border-left: 0px;
    border-right: 0px;
    border-style: solid;
    color: white;
    text-shadow: 7px 7px 7px rgb(0, 10, 101);
    background-color: rgb(30, 41, 109);
    background: linear-gradient(180deg, rgb(3, 49, 148) 0%, rgb(19, 39, 106) 50%, rgb(0, 17, 99) 100%);
}

.countdown-timer div {
    margin: 5vw;
}

.bottom-container {
    height: 20vh;
    width: 100%;
    position: relative;
}

.bottom-container p {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 2vmin;
    font-weight: 100;
    color: rgb(255, 255, 255)
}

.bottom-container a {
    color: white;
    padding: 1rem;
}

@media only screen and (max-width: 300px) {
    .title-container {
        justify-content: center;
        padding-right: 2rem;
    }

    .logo {
        width: 30vw;
    }

    .title h1 {
        font-size: 8vmin;
    }

    .title span {
        font-size: 5vmin;
    }

    .countdown-timer p {
        font-size: 2.3rem;
    }

    .countdown-timer span {
        font-size: 0.6rem;
    }
}

@media only screen and (min-width: 300px) {
    .title-container {
        justify-content: center;
    }

    .logo {
    width: 6rem;
    }

    .title h1 {
        font-size: 1.6rem;
    }

    .title span {
        font-size: 1.1rem;
    }

    .countdown-timer p {
        font-size: 3.2rem;
    }

    .countdown-timer span {
        font-size: 0.7rem;
    }
}

@media only screen and (min-width: 600px) {
    .logo {
        width: 6rem;
    }

    .title h1 {
        font-size: 2rem;
    }

    .title span {
        font-size: 1.5rem;
    }

    .countdown-timer p {
        font-size: 4.5rem;
    }

    .countdown-timer span {
        font-size: 0.7rem;
    }
}

@media only screen and (min-width: 768px) {
    .logo {
    width: 11rem;
    }

    .title h1 {
        font-size: 3rem;
    }

    .title span {
        font-size: 2rem;
    }

    .countdown-timer p {
        font-size: 6rem;
    }

    .countdown-timer span {
        font-size: 1.3rem;
    }
}